<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
    <ion-buttons slot="end">
        <!-- <ion-button >
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="backImg">
  <ion-list style="background: transparent">
    <ion-grid fixed>
      <ion-row align-items-stretch>

        <ion-col size="12" size-md="6" *ngFor="let notification of notifications">
          <ion-card class="rounded">
            <ion-card-header color="primary">
              <ion-item detail="false" lines="none">
                  <ion-text style="padding-right: 5px!important" color="secondary">EVENT CODE</ion-text> 
                  <ion-text color="light"> {{notification.EventCode}}</ion-text>
                  <ion-avatar slot="end" *ngIf="notification['isImageAvailable']">
                      <img [src]="notification['imageUrl']">
                  </ion-avatar>
              </ion-item>
            </ion-card-header>

            <ion-card-content >
              <ion-grid>

                <ion-row>
                  <ion-col col-6>
                         
                    <ion-item no-padding text-wrap>
                        <ion-label position="stacked" color="primary">Shipment No:</ion-label>
                        <ion-item no-padding> {{notification.ShipmentNo}}</ion-item>
                        <!-- <ion-input [ngModel]="notification.ShipmentNo" readonly=true></ion-input> -->
                    </ion-item>
                  </ion-col>

                  <ion-col col-6>
                    <ion-item no-padding text-wrap>
                        <ion-label position="stacked" color="primary">Description</ion-label>
                        <ion-item no-padding> {{notification.EventDescription}}</ion-item>
                        <!-- <ion-input [ngModel]="notification.EventDescription" readonly=true></ion-input> -->
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col col-6>
                    <ion-item no-padding text-wrap>
                        <ion-label position="stacked" color="primary">Consignee Code</ion-label>
                        <ion-item no-padding> {{notification.ConsigneeCode}}</ion-item>
                        <!-- <ion-input [ngModel]="notification.ConsigneeCode" readonly=true></ion-input> -->
                    </ion-item>
                  </ion-col>

                  <ion-col col-6>
                    <ion-item no-padding text-wrap>
                        <ion-label position="stacked" color="primary">Consignor Code</ion-label>
                        <ion-item no-padding> {{notification.ConsignorCode}}</ion-item>
                        <!-- <ion-input [ngModel]="notification.ConsignorCode" readonly=true></ion-input> -->
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col col-6>
                    <ion-item no-padding text-wrap>
                        <ion-label position="stacked" color="primary">Estimated Date</ion-label>
                        <ion-item no-padding> {{ this.global.formatNullableDate(notification.EstimatedDate, '-') }}</ion-item>
                        <!-- <ion-input [ngModel]="notification.EstimatedDate | date" readonly=true></ion-input> -->
                    </ion-item>
                  </ion-col>

                  <ion-col col-6>
                    <ion-item no-padding text-wrap>
                        <ion-label position="stacked" color="primary">Actual Date</ion-label>
                        <ion-item no-padding> {{ this.global.formatNullableDate(notification.ActualDate, '-') }}</ion-item>
                        <!-- <ion-input [ngModel]="notification.ActualDate | date" readonly=true></ion-input> -->
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-card-content>

          </ion-card>

        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-grid>
      <ion-row justify-content-center align-items-center>
          <ion-text color="mybackground" text-center
          *ngIf = "this.dataLoaded && (this.notifications || []).length < 1">
              There are currently no Notifications for this Profile.
          </ion-text>
      </ion-row>
  </ion-grid>

</ion-content>
