// App Global Sass
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply globally. These styles are for
// the entire app and not just one component. Additionally, this file can be
// also used as an entry point to import other Sass files to be included in the
// output CSS.

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

h1 { 
  letter-spacing: 0.3em; 
}

ion-toggle {
  --background-checked:  var(--ion-color-secondary) !important;
  --handle-background-checked: var(--ion-color-secondary) !important;
}

.secondary-button {
  --border-color: var(--ion-color-secondary) !important;
  --border-width: 1px !important;
  --border-style: solid !important;
  --border-radius: 5px !important;

  --background: var(--ion-color-mybackground) !important;
  color: var(--ion-color-secondary) !important;
}

ion-menu-button {
  color: var(--ion-color-secondary) !important;
}

ion-card {
    border-radius:  10px!important;
    margin-top: 0px!important;
    margin-bottom: 0px!important;
  }

  ion-card-header {
    padding: 0;
    background-color:  var(--ion-color-primary);
  }

  ion-card-header ion-item {
    font-size: smaller!important;
  }

  ion-card-header ion-avatar {
    margin: 0.3em !important;
  }

  ion-card-content {
    background-color: #F2F3F4;
    padding-top: 0!important;
    padding-bottom: 0!important;
  }

  ion-card-content ion-grid {
    padding: 0!important;
  }

  ion-card-content ion-col {
    padding-bottom: 0!important;
  }

  ion-card-content ion-item {
    --border-style: none;

    // Prevent unnecessary whitespace in cards:
    --min-height: 0;
  }

  ion-card-content ion-item > ion-label {
    margin-top: 0!important;
    font-weight: bold !important;
    font-size: smaller!important;
  }

  ion-card-content ion-item > ion-item {
    margin-top: 0!important;
    font-size: smaller!important;
    align-self: flex-start;
  }

  ion-card-content ion-item > ion-input {
    margin-top: 0!important;
    font-size: smaller!important;
    --pading: 0;
  }