<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Shipments</ion-title>
    <!-- <ion-buttons slot="end">
        <ion-button >
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </ion-button>
      </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="backImg">

    <ion-item lines="none" [hidden]="showFilters">
            <ion-avatar (click)='ngShowFilters()'>
                <img  src="../../../assets/img/FilterBlue.png">
            </ion-avatar>
    </ion-item>

    <ion-grid class="formGrid" [hidden]="!showFilters">
        <ion-row>
            <ion-col size="12" size-md="6">
                <form #filterForm="ngForm" novalidate [hidden]="!showFilters">
                    <ion-item lines="full">
                        <ion-label position="fixed" class="wider-fixed" color="primary">Shipment No.</ion-label>
                        <ion-input [(ngModel)]="filters.shipmentno" name="shipno" type="text"></ion-input>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-label position="fixed" class="wider-fixed" color="primary">Order Ref.</ion-label>
                        <ion-input [(ngModel)]="filters.orderno" name="ordno" type="text"></ion-input>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-label position="fixed" class="wider-fixed" color="primary">Date From.</ion-label>
                        <ion-datetime #myPickerFrom displayFormat="YYYY-MM-DD" (ionChange)='ngOnDateFromChange(myPickerFrom.value)' name="dtfrom"></ion-datetime>
                    </ion-item>
                    <ion-item lines="full">
                        <!-- <ion-label class="search-filter-label" floating>Date To.</ion-label> -->
                        <ion-label position="fixed" class="wider-fixed" color="primary">Date To.</ion-label>
                        <ion-datetime #myPickerTo displayFormat="YYYY-MM-DD" (ionChange)='ngOnDateToChange(myPickerTo.value)' name="dtto"></ion-datetime>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-checkbox slot="start" [(ngModel)]="filters.openshipments" name="openship" ></ion-checkbox>
                        <ion-label color="primary">Open Shipments</ion-label>                        
                    </ion-item>
                </form>
            </ion-col>
        </ion-row>

        <ion-row [hidden]="!showFilters" align-items-stretch>
            <ion-col size="12" size-md="6" text-center>
                <ion-button (click)="listShipments(filterForm)" type="submit" class="secondary-button">Search</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid fixed>
      <ion-row align-items-stretch>
        <ion-col text-right size="12" size-md="6" *ngFor="let freightmilestone of displayedFreightmilestones">
          <ion-card (click)="goToShipmentDetail(freightmilestone)" >
              
              <ion-card-header style="background-color: var(--ion-color-secondary)">
                  <!-- <ion-row>
                      <ion-col style="text-align:center">
                            <ion-chip color="primary "style="font-weight: bold!important;font-size: small">
                                <ion-label>
                                    {{freightmilestone.ShipmentRef}}
                                </ion-label>
                            </ion-chip>   
                      </ion-col>
                </ion-row> -->
                      <!-- <ion-col text-center size="auto">
                          <ion-item>
                                <ion-text style="font: bold!important" color="primary">Mode : </ion-text> 
                                <ion-text color="primary"> &nbsp;{{freightmilestone.TransportMode}}</ion-text>   
                          </ion-item>
                      </ion-col> -->
                    <ion-row style="padding-top: 1%; padding-bottom: 1%">
                      <ion-col col-5 no-padding>
                            <!-- Icon one -->
                            <ion-list class="caption-icon">
                                <ion-item>
                                    <ion-avatar style="margin:auto!important">
                                        <img  [src]="'../../../assets/img/' + freightmilestone.milestonesNext.CompletedMilestoneCode + '.png'">
                                    </ion-avatar>
                                </ion-item>
                                <ion-item text-center text-wrap style="font-weight: bolder">
                                    <small style="margin:auto!important">
                                        {{freightmilestone.milestonesNext.CompletedMilestoneDescription}}
                                    </small>
                                </ion-item>
                                <ion-item text-center text-wrap>
                                        <small style="margin:auto!important">
                                            {{freightmilestone.milestonesNext.CompletedActualDate}}
                                        </small>
                                </ion-item>
                            </ion-list>

                        </ion-col>
                        <ion-col col-2 no-padding>
                                <!-- Icon two -->
                                <ion-list class="caption-icon"
                                [hidden]="!freightmilestone.milestonesNext.NextMilestoneCode">
                                    <ion-item>
                                        <ion-avatar style="margin:auto!important">
                                            <img  src="../../../assets/img/rightarrow.png">
                                        </ion-avatar>
                                    </ion-item>
                                </ion-list>
                        </ion-col>
                        <ion-col col-5 no-padding>
                                <!-- Icon three -->
                                <ion-list class="caption-icon"
                                [hidden]="!freightmilestone.milestonesNext.NextMilestoneCode">
                                    <ion-item>
                                        <ion-avatar style="margin:auto!important">
                                            <img  [src]="'../../../assets/img/' + freightmilestone.milestonesNext.NextMilestoneCode + '.png'">
                                        </ion-avatar>
                                    </ion-item>
                                    <ion-item text-center text-wrap style="font-weight: bolder">
                                        <small style="margin:auto!important">
                                            {{freightmilestone.milestonesNext.NextMilestoneDescription}}
                                        </small>
                                    </ion-item>
                                </ion-list>
                        </ion-col>
                      <ion-col text-right size="auto">

                            <!-- <ion-grid >
                             <ion-row >
                               <ion-col class="col-milestone" text-left size="auto">
                                 <ion-avatar class="item-avatar">
                                    <img  [src]="'../../../assets/img/' + freightmilestone.milestonesNext.CompletedMilestoneCode + '.png'">
                                 </ion-avatar>
                                </ion-col>
                                <ion-col text-center size="auto" >
                                    <ion-avatar class="item-middle-avatar" *ngIf="freightmilestone.milestonesNext.NextMilestoneCode">
                                     <img  src="../../../assets/img/rightarrow.png">
                                    </ion-avatar>
                                </ion-col>
                                <ion-col class="col-milestone" text-right size="auto" >
                                    <ion-avatar class="item-avatar" *ngIf="freightmilestone.milestonesNext.NextMilestoneCode">   
                                     <img  [src]="'../../../assets/img/' + freightmilestone.milestonesNext.NextMilestoneCode + '.png'">
                                    </ion-avatar>
                                </ion-col>
                            </ion-row>
                            <ion-row >
                                <ion-col class="text-row" text-left size="auto">
                                        {{freightmilestone.milestonesNext.CompletedMilestoneDescription}}<br>{{freightmilestone.milestonesNext.CompletedActualDate}}
                                </ion-col>
                                <ion-col text-center size="auto" >
                                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </ion-col>
                                <ion-col class="text-row" text-right size="auto" *ngIf="freightmilestone.milestonesNext.NextMilestoneCode">
                                    {{freightmilestone.milestonesNext.NextMilestoneDescription}}
                                </ion-col>
                            </ion-row>
                            </ion-grid> -->

                      </ion-col>
                    </ion-row> 
            </ion-card-header>
         
          
            <ion-card-content>

                <ion-grid>
                        <ion-row>
                                <ion-col col-6>                                
                                    <ion-item no-padding text-wrap>
                                        <!-- <ion-label position="stacked" color="primary">Consignee</ion-label> -->
                                        <ion-label position="stacked" color="primary"style="font-weight: bold!important;font-size: medium"> {{(freightmilestone.ShipmentRef)}}</ion-label>
                                        
                                    </ion-item>
                                </ion-col>
            
                                <ion-col col-6>
                                    <ion-item no-padding text-wrap>
                                        <ion-label position="stacked" color="primary">Mode: {{(freightmilestone.TransportMode) || '-'}}</ion-label>
                                        <!-- <ion-item no-padding> {{(freightmilestone.TransportMode) || '-'}}</ion-item> -->
                                    </ion-item>
                                </ion-col>
                        </ion-row>

                        <ion-row *ngIf="freightmilestone.ConsigneeRef">
                            <ion-col>
                                <ion-item no-padding>
                                    <ion-label position="stacked" color="primary">Order Refs</ion-label>
                                    <ion-item no-padding>
                                        <ion-text class="multiline-ellipsis">{{this.global.ensureCommasSeperatedListIsSpaced(freightmilestone.ConsigneeRef)}}</ion-text>
                                    </ion-item>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                    <ion-row>
                        <ion-col col-6>
                                <ion-item no-padding text-wrap>
                                    <ion-label position="stacked" color="primary">Consignor</ion-label>
                                    <ion-item no-padding> {{this.global.toProperCase(freightmilestone.Shipper || '') || '-'}}</ion-item>
                                </ion-item>
                            </ion-col>
                        <ion-col col-6>                                
                            <ion-item no-padding text-wrap>
                                <ion-label position="stacked" color="primary">Consignee</ion-label>
                                <ion-item no-padding> {{this.global.toProperCase(freightmilestone.Consignee || '') || '-'}}</ion-item>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                            <ion-col col-6>                                
                                <ion-item no-padding text-wrap>
                                    <ion-label position="stacked" color="primary">POL</ion-label>
                                    <ion-item no-padding> {{(freightmilestone.PortOfLoading) || '-'}}</ion-item>
                                </ion-item>
                            </ion-col>
        
                            <ion-col col-6>
                                <ion-item no-padding text-wrap>
                                    <ion-label position="stacked" color="primary">POD</ion-label>
                                    <ion-item no-padding> {{(freightmilestone.PortOfDischarge) || '-'}}</ion-item>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                </ion-grid>
               
                <!-- <ion-row>
                    <ion-col text-left size="auto">
                        <ion-item >
                        Consignee : {{freightmilestone.Consignee}}
                        </ion-item>
                    </ion-col>
                    <ion-col text-center size="auto">
                        <ion-item >
                        Consignor : {{freightmilestone.Shipper}}
                        </ion-item>
                    </ion-col>
                  </ion-row> 
                  <ion-row>
                      <ion-col text-left size="auto">
                        <ion-item >
                        POL : {{freightmilestone.PortOfLoading}}
                        </ion-item>
                      </ion-col>
                      <ion-col text-center size="auto">
                        <ion-item >
                        POD : {{freightmilestone.PortOfDischarge}}  
                        </ion-item>
                      </ion-col>
                  </ion-row>  -->
                  
            </ion-card-content>
         
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-infinite-scroll class="whiteSpinner" (ionInfinite)="displayMoreData($event)"
        [disabled]="isAllDataDisplayed">
        <ion-infinite-scroll-content
          loadingSpinner="circles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
