page-shipment-list {
  .scroll {
    background: white;
  }

  .backImg
  {
    background-image: url('../../../assets/img/Ocean.png');
  }

  .formGrid {
    background: white !important;
    margin:0 !important;
  }

  .whiteSpinner ion-spinner {
    color: white;
  }

  .whiteSpinner .infinite-loading-text {
    color: white;
  }




// Icons with captions, use as follows:
//   <ion-list class="caption-icon">
//   <ion-item>
//       <ion-avatar>
//           <img  [src]="'../../../assets/img/' + freightmilestone.milestonesNext.CompletedMilestoneCode + '.png'">
//       </ion-avatar>
//   </ion-item>
//   <ion-item>
//       THis is a long caption.
//   </ion-item>
//   </ion-list>
  .caption-icon {
    background-color: transparent;
  }
  .caption-icon > ion-item {
    --min-height: 0;
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    --border-style: none;
  }
  .caption-icon > ion-item > ion-avatar {
    margin:auto!important
  }




  .shipment-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 100% !important;
    margin: 0 !important;
  }

  .shipment-card ion-card-header {
    padding: 0;
    background-color:  orange
  }

  .shipment-card ion-card-content {
    flex: 1 1 auto;
    background-color:white;
    padding: 0;
   
  }
  .shipment-card-row
  {
    height: 10%;
   // background-color:red;
    padding:0;
  }


  .search-filter-label
  {
    color: white;
    padding:0;
  }
  .search-filter
  {
    width:60%;
    color:orange;
    height: 50%;
    background-color: white;
    padding:0;
  }
  .wider-fixed {
    flex: 0 0 150px !important;
  }

  .ion-avatar {
    display: flex!important;
    flex-direction: column!important;    /* align flex items vertically */
    justify-content: center;   /* center items vertically, in this case */
    align-items: center;       /* center single-line items horizontally, in this case */
    align-content: center;     /* center multi-line items horizontally, in this case */
    width:100% !important;  
    height : 100% !important;  
    max-width: 30px !important;  //any size
    max-height: 30px !important; //any size 
}
.item-avatar  {     
  width:100% !important;  
  height : 100% !important;  
  max-width: 30px !important;  //any size
  max-height: 30px !important; //any size 
  align-content: center;
  padding:0;
  }
  .col-milestone  {     
    width:100% !important;  
    // height : 100% !important;  
    max-width: 33% !important;  //any size
    // max-height: 30px !important; //any size 
    padding:0;
    }
  .item-middle-avatar  {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 20px !important;  //any size
    max-height: 20px !important; //any size 
    }
  .text-avatar
  {
   // width:5% !important;  
    height : 5% !important;  
  //  max-width: 5% !important;  //any size
    max-height: 5% !important; //any size 
    padding:0;
  }
  .text-row
  {
    width:100% !important;  
    height : 100% !important;  
    max-width: 33% !important;  //any size
    max-height: 5px !important; //any size 
    font-size: xx-small;
    align-content: center;
    padding:0;
  }
  .text-middle-row
  {
    width:100% !important;  
    height : 100% !important;  
    max-width: 20% !important;  //any size
    max-height: 5px !important; //any size 
    font-size: xx-small;
    align-content: center;
    padding:0;
  }
}
