page-shipment-list {
  .scroll {
    background: white;
  }
  .backImg
  {
    background-image: url('../../../assets/img/Ocean.png');
   // background-color: transparent;
  }
  .shipment-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 100% !important;
    margin: 0 !important;
  }

  .shipment-card ion-card-header {
    padding: 0;
    background-color:  orange
  }

  .shipment-card ion-card-content {
    flex: 1 1 auto;
    background-color:white;
    padding: 0;
   
  }
  .shipment-card-row
  {
    height: 10%;
   // background-color:red;
    padding:0;
  }
}
