<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Shipments</ion-title>
    <ion-buttons slot="end">
        <ion-button >
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list class="backImg">
      <ion-grid fixed>
          <ion-row align-items-stretch>
            <ion-col size="12" size-md="6">
                <form #filterForm="ngForm" novalidate>
                    <ion-item>
                        <ion-label class="search-filter-label" floating>Shipment No.</ion-label>
                        <ion-input class="search-filter" [(ngModel)]="filters.shipmentno" name="shipno" type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label class="search-filter-label" floating>Order No.</ion-label>
                        <ion-input class="search-filter" [(ngModel)]="filters.orderno" name="ordno" type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label class="search-filter-label" floating>Date From.</ion-label>
                        <ion-datetime class="search-filter" displayFormat="YYYY-MM-DD" [(ngModel)]="filters.datefrom" name="dtfrom"></ion-datetime>
                    </ion-item>
                    <ion-item>
                        <ion-label class="search-filter-label" floating>Date To.</ion-label>
                        <ion-datetime class="search-filter" displayFormat="YYYY-MM-DD" [(ngModel)]="filters.dateto" name="dtto"></ion-datetime>
                    </ion-item>
                    <ion-item>
                        <ion-label item-width="20%" class="search-filter-label" floating>Open Shipments</ion-label>
                        <ion-checkbox [(ngModel)]="filters.openshipments" name="openship" ></ion-checkbox>
                    </ion-item>
                </form>
            </ion-col>
          </ion-row>
          <ion-row align-items-stretch>
              <ion-col size="12" size-md="6">
                  <ion-button (click)="listShipments(filterForm)" type="submit" >Search</ion-button>
              </ion-col>
            </ion-row>
        </ion-grid>
    <ion-grid fixed>
      <ion-row align-items-stretch>
        <ion-col text-right size="12" size-md="6" *ngFor="let freightmilestone of freightmilestones">
          <ion-card class="shipment-card" (click)="goToShipmentDetail(freightmilestone)" >
              
              <ion-card-header>
                  <ion-row align-items-stretch>
                      <ion-col text-left size="auto">
                          <ion-item>
                            <ion-text style="font: bold!important;font-size: small" color="primary"> {{freightmilestone.ShipmentRef}}</ion-text>   
                          </ion-item>
                      </ion-col>
                      <!-- <ion-col text-center size="auto">
                          <ion-item>
                                <ion-text style="font: bold!important" color="primary">Mode : </ion-text> 
                                <ion-text color="primary"> &nbsp;{{freightmilestone.TransportMode}}</ion-text>   
                          </ion-item>
                      </ion-col> -->
                      <ion-col text-right size="auto">
                            <ion-grid >
                             <ion-row >
                               <ion-col class="col-milestone" text-left size="auto">
                                 <ion-avatar class="item-avatar">
                                    <img  [src]="'../../../assets/img/' + freightmilestone.milestonesNext.CompletedMilestoneCode + '.png'">
                                 </ion-avatar>
                                </ion-col>
                                <ion-col text-center size="auto" >
                                    <ion-avatar class="item-middle-avatar" *ngIf="freightmilestone.milestonesNext.NextMilestoneCode">
                                     <img  src="../../../assets/img/rightarrow.png">
                                    </ion-avatar>
                                </ion-col>
                                <ion-col class="col-milestone" text-right size="auto" >
                                    <ion-avatar class="item-avatar" *ngIf="freightmilestone.milestonesNext.NextMilestoneCode">   
                                     <img  [src]="'../../../assets/img/' + freightmilestone.milestonesNext.NextMilestoneCode + '.png'">
                                    </ion-avatar>
                                </ion-col>
                            </ion-row>
                            <ion-row >
                                <ion-col class="text-row" text-left size="auto">
                                        {{freightmilestone.milestonesNext.CompletedMilestoneDescription}}<br>{{freightmilestone.milestonesNext.CompletedActualDate}}
                                </ion-col>
                                <ion-col text-center size="auto" >
                                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </ion-col>
                                <ion-col class="text-row" text-right size="auto" *ngIf="freightmilestone.milestonesNext.NextMilestoneCode">
                                    {{freightmilestone.milestonesNext.NextMilestoneDescription}}
                                </ion-col>
                            </ion-row>
                            </ion-grid>
                      </ion-col>
                    </ion-row> 
            </ion-card-header>
         
          
            <ion-card-content>
               
                <ion-row>
                    <ion-col text-left size="auto">
                        <ion-item >
                        Consignee : {{freightmilestone.Consignee}}
                        </ion-item>
                    </ion-col>
                    <ion-col text-center size="auto">
                        <ion-item >
                        Consignor : {{freightmilestone.Shipper}}
                        </ion-item>
                    </ion-col>
                  </ion-row> 
                  <ion-row>
                      <ion-col text-left size="auto">
                        <ion-item >
                        POL : {{freightmilestone.PortOfLoading}}
                        </ion-item>
                      </ion-col>
                      <ion-col text-center size="auto">
                        <ion-item >
                        POD : {{freightmilestone.PortOfDischarge}}  
                        </ion-item>
                      </ion-col>
                  </ion-row> 
                  
            </ion-card-content>
         
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
